[project]
	description = Azure Owin FSharp
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tuomas Hietanen (Thorium)
[access "refs/for/refs/*"]
	read = group user/Tuomas Hietanen (Thorium)
	push = group user/Tuomas Hietanen (Thorium)
	label-Code-Review = -2..+2 group user/Tuomas Hietanen (Thorium)
	label-Verified = -1..+1 group user/Tuomas Hietanen (Thorium)
	rebase = group user/Tuomas Hietanen (Thorium)
	removeReviewer = group user/Tuomas Hietanen (Thorium)
	submit = group user/Tuomas Hietanen (Thorium)
[access "refs/heads/*"]
	read = group user/Tuomas Hietanen (Thorium)
	create = group user/Tuomas Hietanen (Thorium)
	push = +force group user/Tuomas Hietanen (Thorium)
	pushMerge = group user/Tuomas Hietanen (Thorium)
[access "refs/tags/*"]
	push = +force group user/Tuomas Hietanen (Thorium)
	pushTag = group user/Tuomas Hietanen (Thorium)
	pushSignedTag = group user/Tuomas Hietanen (Thorium)
